<a href="https://colab.research.google.com/github/MamatkulovBunyodbek1999/2nd-part-of-the-3-rd-Module/blob/main/Pivot_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# CALLING DATASET CLONE FROM GITHUB

In [7]:
!git clone https://github.com/MansurCompAI/Practicum_Datasets

Cloning into 'Practicum_Datasets'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 17), reused 16 (delta 1), pack-reused 0
Unpacking objects: 100% (60/60), done.

# IMPORTING FILE

In [8]:
df=pd.read_csv('/content/Practicum_Datasets/world_cities_air_water_quality.csv')

In [9]:
df

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

# CHANGING COLUMN NAMES

In [10]:
columns = ['City','Region','Country','AirQuality','WaterPollution']
df.columns=columns

In [12]:
df.head(2)

,City,Region,Country,AirQuality,WaterPollution
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143

# CLEANING COLUMN ELEMENTS FROM ' " '

In [13]:
df['Region']=df['Region'].map(lambda x: x.replace('"',"") )

In [14]:
df.head(2)

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,"""United States of America""",46.816038,49.504950
1,"Washington, D.C.",District of Columbia,"""United States of America""",66.129032,49.107143

In [15]:
df['Country']=df['Country'].map(lambda x: x.replace('"',"") )

In [18]:
df.head()

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435

# REMOVING SPACES FROM ELEMENTS

In [19]:
df['Country']=df['Country'].map(lambda x: x.strip())

In [21]:
df['Country'][3]

'Germany'

# PIVOT_TABLE

In [22]:
df=pd.pivot_table(df, index=['Country','City'])

In [23]:
df

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000
...                          ...             ...
Zambia      Mansa      75.000000       25.000000
Zimbabwe    Bindura    50.000000       75.000000
            Bulawayo   67.857143       71.428571
            Harare     38.461538       87.500000
            Masvingo   25.000000       62.500000

[3895 rows x 2 columns]

In [24]:
df.to_csv('Water_pollution.csv')